<!DOCTYPE html>
<html>
<head>
	<title>Forum</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>

	<%- include('./nav.ejs') %>
	<div class="flex justify-end flex-row">
		<!--Funcion de busqueda-->
		<div class="flex justify-end">
			<form method="post" action="/search" class="flex flex-col texto-white my-4 mr-2 rounded p-2">
				<div class="">
					<p>Search by Title or Content</p>
				</div>
				<div class="flex flex-row mt-1">
					<div class="mr-2">
						<input type="text" name="search" id="search" class="rounded fondo-white texto-black pl-2">
					</div>
					<div>
						<input type="submit" name="buscar" value="Search" class="cursor-pointer rounded fondo-red px-1">
					</div>
				</div>
			</form>
		</div>
	</div>
	
	

	<div class="flex justify-center">
		<div class="flex flex-row flex-wrap my-4 w-4/5 text-center fondo-black rounded p-6">
			<%for (var i = 0; i<result.genre.length; i++){  %>
					<div class="texto-white mx-4 my-2 fondo-red rounded pb-1">
						<b><a href="/forum/genre=<%=result.genre[i].id_genres%>/1"><%=result.genre[i].name%></a></b>
					</div>
			<%}%>
		</div>
	</div>

	<div class="texto-red text-left mt-4 pl-8">
		<%if (result.session.username == "") { %>
			<p class="pb-0">Sign in to create a new discussion...</p>
			<% }else{ %>
				<i class="text-4xl mb-4 fa-solid fa-square-plus"></i>
				<%}%>

	</div>

	<section class="flex flex-col"> 
		<% var color = 0;
		for (var i = 0 ; i < result.post.length; i++) { %>
			<div class="flex flex-row w-full border-t-2
			<%if(color == 0){color = 1; %>fondo-black<% }
			else{color = 0; %>fondo-gray<% }%>
			 borde-red my-0 pl-10">
				<div class="flex justify-center items-center w-32">
					<img src="<%=result.post[i].url_image%>" class="rounded  w-32 h-32">
				</div>
				<div class="flex flex-col md:flex-row justify-evenly w-full pr-4">
					<div class="flex flex-col h-full justify-evenly pl-4 mb-2 md:w-1/3">
						<div class="texto-white text-xl">
							<b><a href="/post/<%=result.post[i].id_posts%>/" class="hover-red duration-1000 p-0"><%=result.post[i].title%></a></b>
						</div>
						<div class="texto-white">
							<p><b><%=result.post[i].genre%></b></p>
						</div>
						<div class="texto-white">
							<p><b>Review Author: </b><%=result.post[i].username%></p>
						</div>
					</div>
					<div class="texto-white flex flex-col h-full justify-around pl-4 mb-2 md:w-1/3">
						<div>
							<p><b>Number of Words: </b><%=result.post[i].number_words%></p>	
						</div>
						<div>
							<p><b>Replies: </b><%= result.post[i].replies %></p>
						</div>
						<div class="texto-white">
							<p><b>Creation: </b><%=result.post[i].creation_date%></p>
						</div>
						<div>
							<p><b>Activity: </b><%= result.post[i].activity %></p>
						</div>
					</div>
					<div class="texto-white flex flex-col w-full md:w-1/3 h-full justify-evenly pl-4 mb-2">
						<div class="">
							<p><b>Preview: </b><i>"..<%=result.post[i].content_post%>.."</i></p>
						</div>
					</div>
				</div>
			</div>		
		<% } %>
	</section>
	
	<div class="flex flex-col items-center mt-3">
		<p class="texto-white fondo-black w-fit rounded p-2">
			<b>Viewing Page <%=result.view.current%> of
			<% for (var i = 0 ; i < result.view.max; i++) { %>
				<a href="/forum/<%=result.filter%>/<%=i+1%>" class="texto-red py-0 px-0.5 mr-0.5 border-2 borde-red"><%=i+1%></a>
			<% } %>
			</b>
		</p>
	</div>

	<%- include('./footer.html') %>

</body>
</html>