<!DOCTYPE html>
<html>
<head>
	<title>Forum</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>

	<%- include('./nav.ejs') %>

	<div class="flex flex-row overflow-hidden">
		<%
		numero = result.genre.length/4
		for (var i = 0; i<numero; i++){ %>
			<div>
				<%for (var j = 0 ; j < result.genre.length; j++) { %>
				<div class="texto-white grow">
					<a href="/showGen/<%=result.genre[j].id_genres%>/"><%=result.genre[j].name%></a>
				</div>
				<% }
		</div>
		} 
		%>
	</div>

	<!-- borrar mas tarde , prueba de escypir valores de la base de datos aqui , esto no afecta-->
	<section class="flex flex-col"> 
		<% var color = 0;
		for (var i = 0 ; i < result.post.length; i++) { %>
			<div class="flex flex-row w-full h-36 border-t-2
			<%if(color == 0){color = 1; %>fondo-black<% }
			else{color = 0; %>fondo-gray<% }%>
			 borde-red my-0 pl-10">
				<div class="flex justify-center items-center">
					<img src="<%=result.post[i].url_image%>" class="w-32 h-32 rounded">
				</div>
				<div class="flex flex-col h-full justify-around pl-4">
					<div class="texto-white">
						<b>Work: </b><a href="/post/<%=result.post[i].id_posts%>/" class="hover-red duration-1000 p-0"><%=result.post[i].title%></a>
					</div>
					<div class="texto-white">
						<p><b>Review Author: </b><%=result.post[i].username%></p>
					</div>
					<div class="texto-white">
						<p><b>Creation Date: </b><%=result.post[i].creation_date%></p>
					</div>
				</div>
				<div class="texto-white flex flex-col h-full justify-around pl-4">
					<div>
						<p><b>Number of Words: </b><%=result.post[i].number_words%></p>	
					</div>
					<div>
						<p><b>Replies: </b><%= result.post[i].replies %></p>
					</div>
					<div>
						<p><b>Last Activity: </b><%= result.post[i].activity %></p>
					</div>
				</div>
				<div class="texto-white flex flex-col w-1/3 h-full justify-around pl-4">
					<div class="">
						<p><b>Preview: </b><i>"..<%=result.post[i].content_post%>.."</i></p>
					</div>
				</div>
			</div>		
		<% } %>
	</section>

	<!--AGREGAR GENEROS-->
	<div class="agregar" id="agregar">
		<form  method="post" action="/newgen">
			<table border="1">
				<tr><th colspan="2">agregar generos</th></tr>
				<tr>
					<th>nombre del genero</th>
					<th><input type="text" name="gen_name" id="gen_name"></th>
				</tr>
				<tr>
					<th>selecciones una imagen</th>
					<th><input type="text" name="img_gen" id="img_gen"></th>
				</tr>
				<tr>
					<th><input type="submit" name="Enviar" value="subir"></th>
					<th><input type="reset" name="borrar" value="borrar"></td>
				</tr>
			</table>
		</form>
	</div>

	
	<%- include('./footer.html') %>

</body>
</html>