<!DOCTYPE html>
<html>
<head>
	<title>Forum</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>
	<%- include('./nav.ejs') %>
	<h1 id="titulo-gen" class="texto-white">generos disponibles</h1>
	<section class="flex-container"> 
		<%for (var i = 0 ; i < result.genre.length; i++) { %>
			<div class="texto-white">
				<a href="/showGen/<%=result.genre[i].id_genres%>/"><%=result.genre[i].name%></a>
			</div>
		<% } %>
	</section>
	<!-- borrar mas tarde , prueba de escypir valores de la base de datos aqui , esto no afecta-->
	<section class="flex flex-col"> 
		<% var color = 0;
		for (var i = 0 ; i < result.post.length; i++) { %>
			<div class="flex flex-row w-full h-36 border-y-2
			<%if(color == 0){color = 1; %>fondo-black<% }
			else{color = 0; %>fondo-gray<% }%>
			 borde-red my-1 pl-10">
				<div class="flex justify-center items-center">
					<img src="<%=result.post[i].url_image%>" class="w-32 h-32">
				</div>
				<div class="flex flex-col h-full justify-around pl-4">
					<div class="texto-white">
						<b>Work: </b><a href="/post/<%=result.post[i].id_posts%>/" class="hover-red duration-1000 p-0"><%=result.post[i].title%></a>
					</div>
					<div class="texto-white">
						<p><b>Review Author: </b><%=result.post[i].username%></p>
					</div>
					<div class="texto-white">
						<p><b>Creation Date: </b><%=result.post[i].creation_date%></p>
					</div>
				</div>
			</div>		
		<% } %>
	</section>
	<!--AGREGAR GENEROS-->
	<div class="agregar" id="agregar">
		<form  method="post" action="/newgen">
			<table border="1">
				<tr><th colspan="2">agregar generos</th></tr>
				<tr>
					<th>nombre del genero</th>
					<th><input type="text" name="gen_name" id="gen_name"></th>
				</tr>
				<tr>
					<th>selecciones una imagen</th>
					<th><input type="text" name="img_gen" id="img_gen"></th>
				</tr>
				<tr>
					<th><input type="submit" name="Enviar" value="subir"></th>
					<th><input type="reset" name="borrar" value="borrar"></td>
				</tr>
			</table>
		</form>
	</div>
	
	<%- include('./footer.html') %>
</body>
</html>