<!DOCTYPE html>
<html>
<head>
	<title>Forum</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>
	<%- include('./nav.ejs') %>
	<h1 id="titulo-gen" class=".texto-white">generos disponibles</h1>
	<section class="flex-container"> 
		<%for (var i = 0 ; i < result.genre.length; i++) { %>
			<div class="caja">
				
				<a href="/showGen/<%=result.genre[i].id_genres%>/"><%=result.genre[i].name%></a>
			</div>
		<% } %>
	</section>
	


	<div id="conte" style="display: none;">
		<div id="imgconte">
			<div id="respu">
					
			</div>
		</div>
	</div>
	 <!--AGREGAR GENEROS-->
	<div class="agregar" id="agregar">
		<form  method="post" action="/newgen">
			<table border="1">
				<tr><th colspan="2">agregar generos</th></tr>
				<tr>
					<th>nombre del genero</th>
					<th><input type="text" name="gen_name" id="gen_name"></th>
				</tr>
				<tr>
					<th>selecciones una imagen</th>
					<th><input type="text" name="img_gen" id="img_gen"></th>
				</tr>
				<tr>
					<th><input type="submit" name="Enviar" value="subir"></th>
					<th><input type="reset" name="borrar" value="borrar"></td>
				</tr>
			</table>
		</form>
	</div>
	<!-- borrar mas tarde , prueba de escypir valores de la base de datos aqui-->
	<section class="flex flex-col"> 
		<%for (var i = 0 ; i < result.post.length; i++) { %>
				<a href="/post/<%=result.post[i].id_posts%>/"><%=result.post[i].title%></a>
				
		<% } %>
	</section>
	
	<%- include('./footer.html') %>
</body>
</html>