<!DOCTYPE html>
<html>
<head>
	<title><%=result.post.title%></title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>
	<div>
	<h3>publicado por: <%=result.user.username%></h3>
	<section>
		<div>
			<h2><%=result.post.title%></h2>
			<br>
			<%=result.post.content_post%>
			<br>
		</div>
	</section>
	<form action="/answer" method="post" name="answer_post">
		<div class="pt-4 flex flex-col justify-center align-middle items-center">
			<div>
				<p>Publish an Answer to the Post?</p>
			</div>
			<div>
				<input type="text" name="respuesta" id="respuesta"  class="rounded-md text-black px-2 h-9 border-black border-2 bg-gray-100">
				<input type="hidden" name="id_post" id="id_post" value="<%=result.post.id_posts%>">
				<input type="hidden" name="id_user" id="id_user" value="<%=result.session.id_users%>">
			</div>
			<div class="flex flex-row justify-center w-full">
				<input type="submit" name="Enviar" value="responder" class="cursor-pointer">
				<input type="reset" name="borrar" value="borrar" class="cursor-pointer">
			</div>
		</div>
	</form>
	</div>
	<div>
		<%for (var i = 0 ; i < result.answer.length; i++) { %>
			<p><%=result.answer[i].content_answer%></p>
			<br>
		<% } %>
	</div>
</body>
</html>