<!DOCTYPE html>
<html>
<head>
	<title>show</title>
	<link rel="stylesheet" type="text/css" href="js/jquery1.js">
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<script type="text/javascript" src="js/jquery1.js">
		
	</script>
	
</head>
<body>
	<%- include('./nav.ejs') %>
	<h1 id="titulo-gen" class=".texto-white">libros del genero <%=result.genres[0].name%></h1>
	<br>
	<table></table>
	<section class="flex-container"> 
		<%for (var i = 0 ; i < result.posts.length; i++) { %>
			<div class="caja">
				<a href="/post/<%=result.posts[i].id_posts%>/"><%=result.posts[i].title%></a> Autor<%=result.posts[i].username%>	
			</div>

			
		<% } %>
	</section>
	



	
	
<%- include('./footer.html') %>
</body>
</html>